/* file for styling information for SWTBLUPT */


body {
	font-family: sans-serif;
	color: #4d4d4d;
	background-color: #fcfcfc;
}

h1 {
	text-align: center;
}

#explainer {
	font-size: 80%;
	text-align: justify;
	margin:0 auto;
	width: 1000px;
}

#map { 
	height: 600px;
	width: 1000px;
	margin: auto;
}

#query-former {
	height: 400px;
	width: 700px;
	margin: auto;
	text-align: center;
}
